{% extends 'ToDo_App/main.html' %}
{% load static %}
{% block content %}

    <div class="header-bar5">
        <div>
            <h1>Hello {{request.user|title}}</h1>
            <div style="margin: auto;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a href="{% url 'tasks' %}"><button class="nav-link link-dark" id="nav-tasks-tab" data-bs-toggle="tab" data-bs-target="#nav-tasks" type="button" role="tab" aria-controls="nav-tasks" aria-selected="false">Tasks</button></a>
                        <a href="{% url 'groceries' %}"><button class="nav-link link-dark" id="nav-grocery-tab" data-bs-toggle="tab" data-bs-target="#nav-grocery" type="button" role="tab" aria-controls="nav-grocery" aria-selected="false">Grocery List</button></a>
                        <a href="{% url 'meals' %}"><button class="nav-link link-dark" id="nav-mealplanner-tab" data-bs-toggle="tab" data-bs-target="#nav-mealplanner" type="button" role="tab" aria-controls="nav-mealplanner" aria-selected="false">Meal Planner</button></a>
                        <a href="{% url 'bills' %}"><button class="nav-link link-dark" id="nav-billtracker-tab" data-bs-toggle="tab" data-bs-target="#nav-billtracker" type="button" role="tab" aria-controls="nav-billtracker" aria-selected="false">Bill Tracker</button></a>
                        <a href="/ToDo_App/event-list"><button class="nav-link active link-dark" id="nav-calendar-tab" data-bs-toggle="tab" data-bs-target="#nav-calendar" type="button" role="tab" aria-controls="nav-calendar" aria-selected="true">Events/Calendar</button></a>
                    </div>
                </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" id="nav-tasks" role="tabpanel" aria-labelledby="nav-tasks-tab"></div>
                        <div class="tab-pane fade" id="nav-grocery" role="tabpanel" aria-labelledby="nav-grocery-tab"></div>
                        <div class="tab-pane fade" id="nav-mealplanner" role="tabpanel" aria-labelledby="nav-mealplanner-tab"></div>
                        <div class="tab-pane fade" id="nav-billtracker" role="tabpanel" aria-labelledby="nav-billtracker-tab"></div>
                        <div class="tab-pane fade show active" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab"></div>
                    </div>
            </div>
        </div>

        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="logout-in">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="logout-in">Login</a>
        {% endif %}
    </div>


    <div id="item-add-wrapper">
        <a href="/event-create" id="add-link4">Create an Event &#x2b;</a>
    </div>
    <!-- <h3 style="margin: 0px 0px 0px 15px;">You have <i class="count">{{count}}</i> bill{{ count|pluralize:"s"}} in your bill tracker</h3> -->



    <div class="task-items-wrapper">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23B39DDB&ctz=America%2FLos_Angeles&src=YmIzYzZqZXY3Nmpsa204bjQzYjFrbmtoY29AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23B39DDB&title=Lifestyle%20Tracker" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

{% endblock content %}